---
- name: Setup Apache
  command: "{{ item }}"
  loop:
    - a2enmod rewrite
    - a2enmod php7.4

- name: Copy apache site config
  template:
    src: apache.bookstack.conf.j2
    dest: /etc/apache2/sites-available/bookstack.conf
    mode: 0755

- name: Disable apache default site and enable bookstack site
  command: "{{ item }}"
  loop:
    - a2dissite 000-default.conf
    - a2ensite bookstack.conf
  notify: restart apache
