---
- name: Check if we are on ubuntu
  fail:
    msg: "This role works only for Ubuntu distribution"
  when: ansible_distribution | lower != "ubuntu"

- name: Get local IP
  set_fact:
    local_ip: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"

- name: Apt install dirmngr and update cache
  apt:
    name:
      - dirmngr
    update_cache: yes
    state: present

- include_tasks: prerequisites_bionic.yml
  when: ansible_distribution_release | lower == "bionic"

- include_tasks: prerequisites_focal.yml
  when: ansible_distribution_release | lower == "focal"

- include_tasks: database.yml
  when: bs_db_install

- name: Remove install dir when exists
  file:
    path: "{{ bs_install_root_dir }}"
    state: absent

- name: "Download BookStack from git to: {{ bs_install_root_dir }}"
  git:
    repo: https://github.com/BookStackApp/BookStack.git
    version: release
    dest: "{{ bs_install_dir }}"
    update: true

- name: "Download composer"
  get_url:
    url: https://getcomposer.org/installer
    dest: /tmp/installer
    #checksum: "sha384:https://composer.github.io/installer.sig"

- name: "Run Installer"
  command: php installer --quiet
  args:
    chdir: /tmp/

- name: Move composer to /usr/local/bin
  copy:
    src: /tmp/composer.phar
    dest: /usr/local/bin/composer
    remote_src: yes
    mode: 0755

- name: Install app with composer
  composer:
    command: install
    no_dev: true
    no_plugins: true
    working_dir: "{{ bs_install_dir }}"
  environment:
    - COMPOSER_ALLOW_SUPERUSER: 1

- name: Deploy .env file
  template:
    src: .env.j2
    dest: "{{ bs_install_dir }}/.env"
    owner: www-data
    group: www-data
    mode: 0640

- name: Generate application key
  command:
    cmd: php artisan key:generate --no-interaction --force
    chdir: "{{ bs_install_dir }}"

- name: Set permission on folders
  file:
    path: "{{ bs_install_dir }}"
    recurse: yes
    owner: www-data
    group: www-data
    mode: 0755

- include_tasks: apache.yml

- name: Migrate database
  command:
    cmd: php artisan migrate --force
    chdir: "{{ bs_install_dir }}"
  changed_when: false
